<p id="notice"><%= notice %></p>

<h1>Listing Paticipants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paticipants.each do |paticipant| %>
      <tr>
        <td><%= paticipant.name %></td>
        <td><%= paticipant.event_id %></td>
        <td><%= link_to 'Show', paticipant %></td>
        <td><%= link_to 'Edit', edit_paticipant_path(paticipant) %></td>
        <td><%= link_to 'Destroy', paticipant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paticipant', new_paticipant_path %>
